/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}
tr.odd td,
tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link,
#forum a:link {
  color: #3399cc;
}
a:visited,
#forum a:visited {
  color: #336699;
}
a:hover,
#forum a:hover {
  color: #3399cc;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #cccccc;
}
pre {
  background-color: #eeeeee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #dddddd;
}
.form-item label {
  font-size: 1em;
  color: #222222;
}
.item-list .title {
  font-size: 1em;
/*  color: #222222;  */
  color: #777777;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/

body {
  min-width: 56em;
  /* Background color needed to fill the sidebars for the length of the page. */
  background-color: #dddddd;
}

.layout-columns {
  margin: 0 18em;
  background-color: #ffffff;
}

.sidebar-first .layout-columns {
  margin-right: 0; /* LTR */
}

.sidebar-second .layout-columns {
  margin-left: 0; /* LTR */
}

.layout-columns .column {
  position: relative;
  float: left; /* LTR */
}

#main-content {
  width: 100%;
  background-color: #ffffff;
}
#main-content .inner {
  padding: 1em 1.5em 3em 1.5em;
}

.region-sidebar-first,
.region-sidebar-second {
  width: 16em;
  padding: 1em;
  margin-right: -18em; /* LTR */
}

.region-sidebar-first {
  right: 18em; /* LTR */
}

#header {
  padding: .2em;
  background-color: #6699cc;
}
#logo {
  float: left; /* LTR */
  padding: 0 1em;
  border: 0;
}
#site-name {
  margin: 0.6em 0 0 0;
  font-size: 2em;
  white-space: nowrap;
}
#site-name a:link,
#site-name a:visited {
  color: #ffffff;
}
#site-name a:hover {
  color: #336699;
  text-decoration: none;
}
#site-slogan {
  font-size: 1em;
  color: #eeeeee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right; /* LTR */
  vertical-align: middle;
}

ul.menu {
  padding: 0;
}

ul.menu li {
  padding: 0;
  margin-left: 15px; /* LTR */
}

.region-header {
  clear: both;
}

#navlist {
  font-size: 1em;
  padding: 0 0.8em 0.5em 0; /* LTR */
  color: #99ccff;
}
#navlist a {
  font-weight: bold;
  color: #ffffff;
}

#subnavlist {
  padding: 0.5em 1.2em 0.4em 0; /* LTR */
  font-size: 0.8em;
  color: #99ccff;
}
#subnavlist a {
  font-weight: bold;
  color: #99ccff;
}

#navlist ul,
#subnavlist ul {
  text-align: right; /* LTR */
  float: right; /* LTR */
}
#navlist li,
#subnavlist li {
  display: inline;
  list-style: none;
  padding-left: 4px;
  padding-right: 4px;
}
#navlist.links,
#subnavlist.links {
  margin-top: .3em;
}

ul.links li {
  border-left: 1px solid #99ccff; /* LTR */
}
ul.links li.first {
  border: none;
}
.region-search .block-search {
  float: right; /* LTR */
  margin: 1em 1.3em 0.5em 1.3em;
  padding: 0;
  border: none;
}
.block-search .form-text,
.block-search .form-submit {
  border: 1px solid #336699;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
.block-search input.form-text {
  width: 8em;
  padding: 0 0.5em;
}
.region-highlighted {
  background-color: #336699;
  padding: 1.5em 2em;
  color: #ffffff;
}
.region-highlighted a,
.region-highlighted a:visited {
  color: #99ccff;
  font-weight: bold;
}
.region-highlighted,
.node .content,
.comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

#footer {
  background-color: #eeeeee;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title,
.title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777777;
  margin: 0;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999999;
  font-size: 0.8em;
}
.links {
  color: #999999;
}
.links a {
  font-weight: bold;
}
.block {
  border-bottom: 1px solid #bbbbbb;
  padding: 0 0 0.75em 0;
  margin-bottom: 1.5em;
}
#block-system-main {
  border-bottom: none;
}
.block .title {
  margin-bottom: .25em;
}
.node {
  margin: .5em 0 2em;
}
.node-sticky {
  padding: .5em;
  background-color: #eeeeee;
  border: solid 1px #dddddd;
}
.node .content,
.comment .content {
  margin: .5em 0;
}
.node .taxonomy {
  color: #999999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .user-picture {
  border: 1px solid #dddddd;
  float: right; /* LTR */
  margin: 0.5em;
}
.node .user-picture img {
  vertical-align: bottom;
}
.comment {
  border: 1px solid #aabbcc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.node .comment .user-picture {
  border: 1px solid #aabbcc;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories,
#aggregator .source,
#aggregator .age {
  color: #999999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  min-height: 24px;
}
#forum .title,
#forum a {
  font-size: 1em;
}
#forum td.forum,
#forum td.posts {
  background-color: #eeeeee;
}
#forum td.topics,
#forum td.title,
#forum td.last-reply {
  background-color: #dddddd;
}
#forum td.container {
  background-color: #cccccc;
}
#forum td.container a {
  color: #555555;
}
#forum td.statistics,
#forum td.settings,
#forum td.pager {
  height: 1.5em;
  border: 1px solid #bbbbbb;
}
#forum td .name {
  color: #9966cc;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #aabbcc;
  padding: .5em;
  margin: 1em 0;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #6699cc;
  color: #ffffff;
  padding: 5px 8px;
  margin: 0;
}

.version-links .links li {
  text-align: right; /* LTR */
  display: inline;
  list-style: none;
  padding-left: 3px;
  padding-right: 3px;
}

table.system-status-report tr.ok {
  background-color: #ddffdd;
}

div.vertical-tabs ul.vertical-tabs-list a {
  font-weight: normal;
}

div.vertical-tabs ul.vertical-tabs-list li strong {
  font-weight: bold;
}

div.vertical-tabs ul.vertical-tabs-list li.selected small {
  color: #000000;
}

div.vertical-tabs ul.vertical-tabs-list li.selected a strong {
  color: #000000;
}

dl.admin-list {
  margin-top: 0px;
}
